* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Noto Serif Display", serif; */
    font-family: "Noto Sans JP", sans-serif;
}

body {
    background-color: #f7f6f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/*  NAVBAR styles */

.navbar {
    background-color: #bab3a9;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar .logo-container {
    text-align: center;
    width: 100px;
}

.navbar .logo-container .logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo-container img {
    width: 100%;
}

.navbar .links-container .links-link {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

/* FOOTER styles */

.footer {
    background-color: #f4f2f1;
    color: #635b4f;
    padding-top: 2rem;
    font-size: 1rem;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.footer .footer-div {
    padding: 1rem;
    margin: 0 2.5rem;
}

.footer .footer-div h5 {
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
    font-weight: 700;
}

/* HOME styles */

.banner {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/banner.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* BUTTON styles */

.banner .base-button-container {
    margin-top: 6rem;
}

.base-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.base-button {
    height: 40px;
    padding: 0.4rem;
    background-color: white;
    border: 1px solid black;
}

.base-button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-container .container {
    max-width: 50%;
}

.font-display {
    font-family: "Noto Serif Display", serif;
    font-size: 2.5rem;
}

.text-lightGray {
    color: #a6a6a5;
}

.arrow-container {
    margin: 3rem 0 5rem;
}

.black-text {
    color: black;
}

.link {
    text-decoration: none;
}

.categories-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.categories-container .categories {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.categories-container .categories .categories-link {
    text-decoration: none;
    color: #a6a6a5;
    font-family: "Noto Serif Display", serif;
    font-size: 3rem;
    line-height: 1.5em;
}

.categories-container .categories .categories-link:hover {
    color: black;
}

.categories-container .image-container {
    max-width: 350px;
    margin-left: 4rem;
}

.categories-container .image-container img {
    width: 100%;
}

.products-container {
    margin-top: 5rem;
}

/* ADMIN dashboard navbar styles  */

.admin-body {
    display: flex;
    flex-direction: row;
}

aside {
    width: 200px;
    background-color: #bab3a9;
    padding-top: 20px;
}

aside .admin-links-container {
    line-height: 2rem;
}

aside .admin-links-container .admin-links-link {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

.admin-main {
    flex: 1;
    padding: 20px;
}

/* NEW products styles */

.new-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.new-products .product {
    margin-top: 1rem;
    margin-right: 2rem;
    max-width: 300px;
    padding: 1rem;
    background-color: white;
}

.img-container {
    max-width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-products .product .img-container img {
    max-width: 100%;
    height: auto;
}

.product-details {
    margin-top: 1em;
}

.bold-text {
    font-weight: bold;
}

.base-button-container {
    margin-top: 1em;
}

.product-details-container {
    max-width: 300px;
    margin-right: 0.5em;
    text-align: left;
}

/* Create new Product Form styles */

.text-center {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 2em auto;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #ba6a52;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #d0846e;
}

/* ALERT styles */

.alert {
    padding: 15px;
    background-color: #d4edda; /* Green color */
    color: #155724; /* Dark green color */
    border: 1px solid #c3e6cb; /* Border color */
    border-radius: 4px;
    margin-bottom: 15px;
}

/* Close button style */
.closebtn {
    margin-left: 15px;
    color: #155724;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.text-danger {
    padding-bottom: 1.02em;
    color: red;
}
